## DataTypes
#### 1. Definition:

- Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
- They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

#### 2. Importance of Data Types in Programming
Explanation:

- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.

Video Outline:
1. Introduction to Data Types
2. Importance of Data Types in Programming
3. Basic Data Types
   - Integers
   - Floating-point numbers
   - Strings
   - Booleans
4. Advanced Data Types
   - Lists
   - Tuples
   - Sets
   - Dictionaries
5. Type Conversion
6. Practical Examples

In [1]:
## Integer Example
age=35
type(age)

int

In [2]:
##floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [3]:
## string datatype example
name="Krish"
print(name)
print(type(name))

Krish
<class 'str'>

In [7]:
## boolean datatype
is_true=True
type(is_true)

bool

In [11]:
a=10
b=10

type(a==b)

bool

In [12]:
## common errors

result="Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [14]:
result="Hello" + str(5)
print(result)

Hello5

Correct—Python does not have a separate "character" data type. In Python, a single character is just a string of length 1.

**Example:**

In [ ]:
ch = 'A'        # This is a string, not a char type
print(type(ch)) # Output: <class 'str'>



All text data in Python is represented as strings (`str`), whether it's a single character or many characters.

## To get the ASCII (or Unicode) value of a character:
int('A')   # ❌ Error: invalid literal for int()
ord('A')   # ✅ Correct: returns 65

#### int() only works for:
- Numbers in string form → int("123")
- Booleans → int(True)
- Not for characters like 'A'

In [ ]:
print(ord('A'))    # z=65+25 = 90
print(ord('a'))    # z=97+25 = 122
print(ord('0'))
print(ord(' '))
print(ord('\n'))
print(ord('A')+3)    # z=65+3 = 68

65
97
48
32
10
68

In [ ]:
# To convert ASCII back to character
# Use chr():

print(chr(65))   # 'A'
print(chr(90))   # 'Z'
print(chr(97))   # 'a'
print(chr(90))   # 'Z'
print(chr(122))  # 'z'
print(chr(48))   # '0'
print(chr(32))   # ' '
print(chr(10))   # '\n'

A
Z
a
Z
z
0

In [5]:
print(chr(95))

_